<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body id="Paginaprincipal" data-spy="scroll" data-target=".navbar" data-offset="60">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="principal">
          <font color="black"><b>PLATAFORM</b></font>
          <font color="red" size="6"><b>A</b></font>
          <font color="black"><b>PRENDIZAJE</b></font>
        </a>
        <a class="navbar-brand">

        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="tutorias"><b>Tutorias</b></a></li>
          <li><a href="cursos"><b>Cursos</b></a></li>
          <li><a href="conocenos"><b>Conócenos</b></a></li>
          <!-- <li><a href="politicas">Políticas</a></li> -->
          <li>
            <input type="text" class="form-control-buscar" name="filterPost" placeholder="Buscar"
              [(ngModel)]="filterPostt" required />
          </li>
          <li><button type="button" class="btn btn-primary btn-sm btn-radius" routerLink="/login">Iniciar
              sesión</button></li>



        </ul>
      </div>
    </div>
  </nav>
<div class="politicasplat">
    <font color="white" size="7"><b>POLÍTICAS DE PRIVACIDAD</b></font>
</div>
  <div class="col-sm-8">
    <p>En cumplimiento de lo establecido en la normativa aplicable de Protección de Datos, le informamos que los datos que serán tratados como Responsable por Plataforma Aprendizaje, cuya finalidad del tratamiento es la prestación del servicio que el usuario solicite a través de nuestro formulario de contacto y para ello necesitamos que marque la casilla habilitada que indica la aceptación de esta política, de tal manera que si no lo hace no tendremos su consentimiento expreso y por ello no podremos dar respuesta a su solicitud.</p>
    <p>Desde este sitio Web estudiamos las preferencias de nuestros usuarios (características demográficas, sus patrones de tráfico y otra información en conjunto para comprender el comportamiento y el perfil de nuestros usuarios). El rastreo de las preferencias de nuestros usuarios nos ayuda para mejorar nuestra Página así como nuestros servicios.</p>
    <p>Los datos que serán almacenados en cada “cookie” son los siguientes: idioma, fecha y hora de la última vez que el usuario visitó nuestro Web, diseño de contenidos que el usuario escogió en su primera visita a nuestro Web y elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.</p>
  </div>

</body>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <br>
          <br>
          <p>
            <font color="white"><b>PLATAFORM</b></font>
            <font color="red" size="6"><b>A</b></font>
            <font color="white"><b>PRENDIZAJE</b></font>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="nav-list">
          <li><a href="conocenos"><b>Conócenos</b></a></li>
          <li><a href="politicas"><b>Políticas</b></a></li>
          <li><a href="privacidad"><b>Privacidad</b></a></li>
          <li><a href="#"><b>Solicitud de curso único</b></a></li>
          <li><a href="#"><b>T & CS</b></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-3">
          <br>
          <font color="#c9e265"size="4"><b>RECIBE NUESTRAS NOTICIAS</b></font>
          <input type="text" class="correosubscrito" id="correosubscrito" placeholder="Correo electrónico">
          <button type="button" class="btn btn-danger">SUBSCRIBIRSE</button>
        <ul class="icons">
          <li>
            <a href="#" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="#" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="#" class="fa fa-snapchat-ghost"></a>
          </li>
          <li>
            <a href="#" class="fa fa-instagram"></a>
          </li>
          <li>
            <a href="#" class="fa fa-youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div> -->
</footer>

</html>