<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body id="Paginaprincipal" data-spy="scroll" data-target=".navbar" data-offset="60">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="principal">
          <font color="black"><b>PLATAFORM</b></font>
          <font color="red" size="6"><b>A</b></font>
          <font color="black"><b>PRENDIZAJE</b></font>
        </a>
        <a class="navbar-brand">

        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="tutorias"><b>Tutorias</b></a></li>
          <li><a href="cursos"><b>Cursos</b></a></li>
          <li><a href="conocenos"><b>Conócenos</b></a></li>
          <!-- <li><a href="politicas">Políticas</a></li> -->
          <li>
            <input type="text" class="form-control-buscar" name="filterPost" placeholder="Buscar"
              [(ngModel)]="filterPostt" required />
          </li>
          <li><button type="button" class="btn btn-primary btn-sm btn-radius" routerLink="/login">Iniciar
              sesión</button></li>



        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="contconocenos">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
        <div class="contmision">
            <p>
              <font color="red" size="5"><b>MISIÓN</b></font>
            </p>
            <p>
              <font color="black" size="3">La misión de la Plataforma de aprendizaje es brindar un servicio de calidad</font>
            </p>

            <p>
              <font color="red" size="5"><b>VISIÓN</b></font>
            </p>
            <p>
              <font color="black" size="3">Somos personas enfocadas a cubrir las necesidades y expectativas de nuestros clientes mediante el ofrecimiento de cursos y tutorías</font>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="contmision">
            <p>
              <font color="#38b6ff" size="5"><b>CONTÁCTANOS</b></font>
            </p>
            <p>
            <font color="red">
              <span class="glyphicon glyphicon-map-marker"></span>
              </font>
              Sede
             
            </p>
                <p>
              Guayaquil-Ecuador
            </p>


            <p>
            <font color="red">
              <span class="glyphicon glyphicon-phone"></span>
              </font>
              Teléfono
             
            </p>
                <p>
              +593 89561247
            </p>

                        <p>
            <font color="red">
              <span class="glyphicon glyphicon-envelope"></span>
              </font>
              Correo electrónico
             
            </p>
                <p>
              openlearning@gmail.com
            </p>
        </div>
      </div>

    </div>
  </div>

</body>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <br>
          <br>
          <p>
            <font color="white"><b>PLATAFORM</b></font>
            <font color="red" size="6"><b>A</b></font>
            <font color="white"><b>PRENDIZAJE</b></font>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="nav-list">
          <li><a href="conocenos"><b>Conócenos</b></a></li>
          <li><a href="politicas"><b>Políticas</b></a></li>
          <li><a href="privacidad"><b>Privacidad</b></a></li>
          <li><a href="#"><b>Solicitud de curso único</b></a></li>
          <li><a href="#"><b>T & CS</b></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xl-3">
          <br>
          <font color="#c9e265"size="4"><b>RECIBE NUESTRAS NOTICIAS</b></font>
          <input type="text" class="correosubscrito" id="correosubscrito" placeholder="Correo electrónico">
          <button type="button" class="btn btn-danger">SUBSCRIBIRSE</button>
        <ul class="icons">
          <li>
            <a href="#" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="#" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="#" class="fa fa-snapchat-ghost"></a>
          </li>
          <li>
            <a href="#" class="fa fa-instagram"></a>
          </li>
          <li>
            <a href="#" class="fa fa-youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>