<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body id="Paginaprincipal" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="headdashboard"><b>DATOS DE TUTOR</b></div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="dashboard">
          <font color="white"><b>PLATAFORM</b></font>
          <font color="red" size="6"><b>A</b></font>
          <font color="white"><b>PRENDIZAJE</b></font>
        </a>
        <a class="navbar-brand">

        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="plattutorias"><b>Tutorias</b></a></li>
          <li><a href="platcursos"><b>Cursos</b></a></li>
          <li><a href="platperfil"><b>Perfil</b></a></li>

        </ul>
      </div>
    </div>
  </nav>

      
    <div class="contenidoperfil">
        
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive"
                            alt="" />
                    </div>

                    <div class="profile-usertitle">

                        <div class="profile-usertitle-job">
                            <h4 *ngFor="let Lgusuario of data">
                                {{ person.tipousuario }}
                            </h4>
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>


                                <a href="#">
                                    <i class="glyphicon glyphicon-user" (click)="cambiarModificar()"></i>
                                    Modificar información
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    Archivos
                                </a>

                                <input id="botoncerrar"class="btn btn-primary btn-md"  type="submit" value="Cerrar Sesion" (click)="Logout()" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-content" *ngIf="!modificar">

                <h3> Nombre completo: {{person.profile.names}} {{person.profile.last_names}}</h3>
                <h3> Email:{{person.email}} </h3>
                <h3>Fecha de nacimiento: {{person.profile.dob}}</h3>
                <h3>Teléfono: {{person.profile.phone}}</h3>
                <h3>Dirección: {{person.profile.address}}</h3>

        </div>
    </div>
  

</body>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <br>
          <p>
            <font color="white"><b>PLATAFORM</b></font>
            <font color="red" size="6"><b>A</b></font>
            <font color="white"><b>PRENDIZAJE</b></font>
          </p>
        </div>
      </div>
      <div class="col-md-4">
      <br>
      <br>
      <p>
      Plataforma de aprendizaje - OpenLearning - Guayaquil - Ecuador <br>

© El contenido de esta obra es de propiedad de InnovaSystem. Todos los derechos reservados.

Prohibida su reproducción total o parcial, comunicación pública o distribución sin autorización previa del titular de los derechos.
      </p>
      </div>

    </div>
  </div>
</footer>

</html>